

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-claro:#555cff;
    --azul-escuro:#3253A1;
    --branco: #fff;
    --cor-site:#030304;
    --preto:#0000;
    --cor-final:#171717;
}

body {
    background:var(--cor-site);
    color: var(--branco);
    font-family: "Cinzel";
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#logo {
    width: 70px;
}

#menu {
    display: flex;
    gap: 40px;
}

#menu a {
    text-decoration: none;
    color:var(--branco);
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.9;
}


.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-container {
    width: 100%;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.explorar {
    max-width: 800px;
    margin: 120px auto;
    text-align: center;
    padding: 0 20px;
}

.explorar h2 {
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
}

.explorar h2::after {
    content: "";
    width: 60px;
    height: 2px;
    background: var(--azul-claro);
    display: block;
    margin: 10px auto 0;
}

.explorar p {
    font-size: 14px;
    max-width: 700px;
    opacity: 0.8;
    margin: 0 auto 40px;

}

.btn-explorar {
    display: inline-block;
    border: 1px solid var(--branco);
    padding: 10px 35px;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s ease;
}

.btn-explorar:hover {
    background:var(--branco);
    color:var(--preto);
}


.destaques {
    text-align: left;
    padding: 40px 500px;
    margin-top: 100px;
}

.destaques h2 {
    font-size: 18px;
    margin-bottom: 40px;
}

.faixa {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.destaque-item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 16px;
}

.categorias {
    text-align: center;
    margin-top: 160px;
}

.categorias h2 {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.categoria-item {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0 35px;
}

.circulo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoria-item p {
    font-size: 12px;
    margin-top: 12px;
    letter-spacing: 2px;
}


.informado {
    max-width: 750px;
    margin: 180px auto;
    text-align: center;
}

.informado h2 {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.informado p {
    font-size: 13px;
    opacity: 0.8;
    max-width: 700px;
    margin: 0 auto 40px;
}


.compras {
    text-align: center;
    margin-bottom: 120px;
}

.compras h2 {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.quadrado {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.quadrado img {
    width: 55px;
    margin-bottom: 15px;
}

.quadrado p {
    font-size: 12px;
    letter-spacing: 2px;
}
